#### Item 7,8 Table Extraction

In [ ]:
def extract_text_between_strings(html_file, start_text, end_text, output_file):
    try:
        with open(html_file, 'r') as file:
            html_content = file.read().lower()
    except FileNotFoundError:
        print("HTML file not found.")
        return
    
    start_index = html_content.find(start_text.lower())
    if start_index == -1:
        print("Start text not found.")
        return
    
    end_index = html_content.find(end_text.lower(), start_index)
    if end_index == -1:
        print("End text not found.")
        return
    
    extracted_text = html_content[start_index + len(start_text):end_index]
    
    try:
        with open(output_file, 'w') as file:
            file.write(extracted_text)
    except:
        print("Error writing to output file.")



# extract_text_between_strings("primary-document.html", "item 7. management", "item 9", "item7_8.html")
# extract_text_between_strings("item7_8.html", "summary results", "item 8. financial", "item7_tables.html")
# extract_text_between_strings("item7_8.html", "item 8. financial", "auditor since", "item8_tables.html")
# extract_text_between_strings("item8_tables.html", "basic earnings per share", "note 3", "item8_epstable.html")

Summary results of operations, Segment results of Operations

In [ ]:
import pandas as pd
html_path = "item7_tables.html"
item7_tables = pd.read_html(html_path)

i = 0
for table in item7_tables:
    i+=1
    print(table, '\n\n')
    
print("Number of tables =", i)

                                                   0   1     2          3   \
0                                                 NaN NaN   NaN        NaN
1   (in millions, except percentages and per share... NaN  2023    2023.00
2                                                 NaN NaN   NaN        NaN
3                                                 NaN NaN   NaN        NaN
4                                             revenue NaN     $  211915.00
5                                        gross margin NaN   NaN  146052.00
6                                    operating income NaN   NaN   88523.00
7                                          net income NaN   NaN   72361.00
8                          diluted earnings per share NaN   NaN       9.68
9                                                 NaN NaN   NaN        NaN
10                   adjusted gross margin (non-gaap) NaN   NaN  146204.00
11               adjusted operating income (non-gaap) NaN   NaN   89694.00
12                     adjusted net income (non-gaap) NaN   NaN   73307.00
13     adjusted diluted earnings per share (non-gaap) NaN   NaN       9.81
14                                                NaN NaN   NaN        NaN

    4   5     6          7   8   9                 10                11  12
0  NaN NaN   NaN        NaN NaN NaN               NaN               NaN NaN
1  NaN NaN  2022    2022.00 NaN NaN  percentagechange  percentagechange NaN
2  NaN NaN   NaN        NaN NaN NaN               NaN               NaN NaN
3  NaN NaN   NaN        NaN NaN NaN               NaN               NaN NaN
4  NaN NaN     $  198270.00 NaN NaN               NaN                7% NaN
5  NaN NaN   NaN  135620.00 NaN NaN               NaN                8% NaN
6  NaN NaN   NaN   83383.00 NaN NaN               NaN                6% NaN
7  NaN NaN   NaN   72738.00 NaN NaN               NaN              (1)% NaN
8  NaN NaN   NaN       9.65 NaN NaN               NaN                0% NaN
9  NaN NaN   NaN        NaN NaN NaN               NaN               NaN NaN
10 NaN NaN   NaN  135620.00 NaN NaN               NaN                8% NaN
11 NaN NaN   NaN   83383.00 NaN NaN               NaN                8% NaN
12 NaN NaN   NaN   69447.00 NaN NaN               NaN                6% NaN
13 NaN NaN   NaN       9.21 NaN NaN               NaN                7% NaN
14 NaN NaN   NaN        NaN NaN NaN               NaN               NaN NaN


                                     0   1     2         3   4   5     6   \
0                                   NaN NaN   NaN       NaN NaN NaN   NaN
1     (in millions, except percentages) NaN  2023    2023.0 NaN NaN  2022
2                                   NaN NaN   NaN       NaN NaN NaN   NaN
3                                   NaN NaN   NaN       NaN NaN NaN   NaN
4                               revenue NaN   NaN       NaN NaN NaN   NaN
5                                   NaN NaN   NaN       NaN NaN NaN   NaN
6   productivity and business processes NaN     $   69274.0 NaN NaN     $
7                     intelligent cloud NaN   NaN   87907.0 NaN NaN   NaN
8               more personal computing NaN   NaN   54734.0 NaN NaN   NaN
9                                   NaN NaN   NaN       NaN NaN NaN   NaN
10                                  NaN NaN   NaN       NaN NaN NaN   NaN
11                                total NaN     $  211915.0 NaN NaN     $
12                                  NaN NaN   NaN       NaN NaN NaN   NaN
13                                  NaN NaN   NaN       NaN NaN NaN   NaN
14                     operating income NaN   NaN       NaN NaN NaN   NaN
15                                  NaN NaN   NaN       NaN NaN NaN   NaN
16  productivity and business processes NaN     $   34189.0 NaN NaN     $
17                    intelligent cloud NaN   NaN   37884.0 NaN NaN   NaN
18              more personal computing NaN   NaN   16450.0 NaN NaN   NaN
19                                  NaN NaN   NaN       NaN NaN NaN   NaN
20                                  NaN NaN   NaN       NaN NaN NaN   NaN
21                                total NaN     $   88523.0 NaN NaN     $
22                                  NaN NaN   NaN       NaN NaN NaN   NaN

          7   8   9                 10                11  12
0        NaN NaN NaN               NaN               NaN NaN
1     2022.0 NaN NaN  percentagechange  percentagechange NaN
2        NaN NaN NaN               NaN               NaN NaN
3        NaN NaN NaN               NaN               NaN NaN
4        NaN NaN NaN               NaN               NaN NaN
5        NaN NaN NaN               NaN               NaN NaN
6    63364.0 NaN NaN               NaN                9% NaN
7    74965.0 NaN NaN               NaN               17% NaN
8    59941.0 NaN NaN               NaN              (9)% NaN
9        NaN NaN NaN               NaN               NaN NaN
10       NaN NaN NaN               NaN               NaN NaN
11  198270.0 NaN NaN               NaN                7% NaN
12       NaN NaN NaN               NaN               NaN NaN
13       NaN NaN NaN               NaN               NaN NaN
14       NaN NaN NaN               NaN               NaN NaN
15       NaN NaN NaN               NaN               NaN NaN
16   29690.0 NaN NaN               NaN               15% NaN
17   33203.0 NaN NaN               NaN               14% NaN
18   20490.0 NaN NaN               NaN             (20)% NaN
19       NaN NaN NaN               NaN               NaN NaN
20       NaN NaN NaN               NaN               NaN NaN
21   83383.0 NaN NaN               NaN                6% NaN
22       NaN NaN NaN               NaN               NaN NaN


                                  0   1     2      3   4   5     6      7   \
0                                NaN NaN   NaN    NaN NaN NaN   NaN    NaN
1  (in millions, except percentages) NaN  2023   2023 NaN NaN  2022   2022
2                                NaN NaN   NaN    NaN NaN NaN   NaN    NaN
3                                NaN NaN   NaN    NaN NaN NaN   NaN    NaN
4           research and development NaN     $  27195 NaN NaN     $  24512
5            as a percent of revenue NaN   NaN    13% NaN NaN   NaN    12%
6                                NaN NaN   NaN    NaN NaN NaN   NaN    NaN

   8   9                 10                11  12
0 NaN NaN               NaN               NaN NaN
1 NaN NaN  percentagechange  percentagechange NaN
2 NaN NaN               NaN               NaN NaN
3 NaN NaN               NaN               NaN NaN
4 NaN NaN               NaN               11% NaN
5 NaN NaN               NaN              1ppt NaN
6 NaN NaN               NaN               NaN NaN


                                  0   1     2      3   4   5     6      7   \
0                                NaN NaN   NaN    NaN NaN NaN   NaN    NaN
1  (in millions, except percentages) NaN  2023   2023 NaN NaN  2022   2022
2                                NaN NaN   NaN    NaN NaN NaN   NaN    NaN
3                                NaN NaN   NaN    NaN NaN NaN   NaN    NaN
4                sales and marketing NaN     $  22759 NaN NaN     $  21825
5            as a percent of revenue NaN   NaN    11% NaN NaN   NaN    11%
6                                NaN NaN   NaN    NaN NaN NaN   NaN    NaN

   8   9                 10                11  12
0 NaN NaN               NaN               NaN NaN
1 NaN NaN  percentagechange  percentagechange NaN
2 NaN NaN               NaN               NaN NaN
3 NaN NaN               NaN               NaN NaN
4 NaN NaN               NaN                4% NaN
5 NaN NaN               NaN              0ppt NaN
6 NaN NaN               NaN               NaN NaN


                                  0   1     2     3   4   5     6     7   8   \
0                                NaN NaN   NaN   NaN NaN NaN   NaN   NaN NaN
1  (in millions, except percentages) NaN  2023  2023 NaN NaN  2022  2022 NaN
2                                NaN NaN   NaN   NaN NaN NaN   NaN   NaN NaN
3                                NaN NaN   NaN   NaN NaN NaN   NaN   NaN NaN
4         general and administrative NaN     $  7575 NaN NaN     $  5900 NaN
5            as a percent of revenue NaN   NaN    4% NaN NaN   NaN    3% NaN
6                                NaN NaN   NaN   NaN NaN NaN   NaN   NaN NaN

   9                 10                11  12
0 NaN               NaN               NaN NaN
1 NaN  percentagechange  percentagechange NaN
2 NaN               NaN               NaN NaN
3 NaN               NaN               NaN NaN
4 NaN               NaN               28% NaN
5 NaN               NaN              1ppt NaN
6 NaN               NaN               NaN NaN


                                                    0   1    2       3    4  \
0                                                 NaN NaN  NaN     NaN  NaN
1                                       (in millions) NaN  NaN     NaN  NaN
2                                                 NaN NaN  NaN     NaN  NaN
3                                                 NaN NaN  NaN     NaN  NaN
4                                 year ended june 30, NaN  NaN    2023  NaN
5                                                 NaN NaN  NaN     NaN  NaN
6                       interest and dividends income NaN    $    2994  NaN
7                                    interest expense NaN  NaN  (1,968    )
8                 net recognized gains on investments NaN  NaN     260  NaN
9                           net losses on derivatives NaN  NaN    (456    )
10  net gains (losses) on foreign currency remeasu... NaN  NaN     181  NaN
11                                         other, net NaN  NaN    (223    )
12                                                NaN NaN  NaN     NaN  NaN
13                                                NaN NaN  NaN     NaN  NaN
14                                              total NaN    $     788  NaN
15                                                NaN NaN  NaN     NaN  NaN

     5    6       7    8
0  NaN  NaN     NaN  NaN
1  NaN  NaN     NaN  NaN
2  NaN  NaN     NaN  NaN
3  NaN  NaN     NaN  NaN
4  NaN  NaN    2022  NaN
5  NaN  NaN     NaN  NaN
6  NaN    $    2094  NaN
7  NaN  NaN  (2,063    )
8  NaN  NaN     461  NaN
9  NaN  NaN     (52    )
10 NaN  NaN     (75    )
11 NaN  NaN     (32    )
12 NaN  NaN     NaN  NaN
13 NaN  NaN     NaN  NaN
14 NaN    $     333  NaN
15 NaN  NaN     NaN  NaN


                                                   0   1     2          3   \
0                                                 NaN NaN   NaN        NaN
1   (in millions, except percentages and per share... NaN  2023    2023.00
2                                                 NaN NaN   NaN        NaN
3                                                 NaN NaN   NaN        NaN
4                                        gross margin NaN     $  146052.00
5   severance, hardware-related impairment, and le... NaN   NaN     152.00
6                                                 NaN NaN   NaN        NaN
7                                                 NaN NaN   NaN        NaN
8                    adjusted gross margin (non-gaap) NaN     $  146204.00
9                                                 NaN NaN   NaN        NaN
10                                                NaN NaN   NaN        NaN
11                                   operating income NaN     $   88523.00
12  severance, hardware-related impairment, and le... NaN   NaN    1171.00
13                                                NaN NaN   NaN        NaN
14                                                NaN NaN   NaN        NaN
15               adjusted operating income (non-gaap) NaN     $   89694.00
16                                                NaN NaN   NaN        NaN
17                                                NaN NaN   NaN        NaN
18                                         net income NaN     $   72361.00
19  severance, hardware-related impairment, and le... NaN   NaN     946.00
20  net income tax benefit related to transfer of ... NaN   NaN       0.00
21                                                NaN NaN   NaN        NaN
22                                                NaN NaN   NaN        NaN
23                     adjusted net income (non-gaap) NaN     $   73307.00
24                                                NaN NaN   NaN        NaN
25                                                NaN NaN   NaN        NaN
26                         diluted earnings per share NaN     $       9.68
27  severance, hardware-related impairment, and le... NaN   NaN       0.13
28  net income tax benefit related to transfer of ... NaN   NaN       0.00
29                                                NaN NaN   NaN        NaN
30                                                NaN NaN   NaN        NaN
31     adjusted diluted earnings per share (non-gaap) NaN     $       9.81
32                                                NaN NaN   NaN        NaN

    4   5     6       7    8   9                 10                11  12
0  NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
1  NaN NaN  2022    2022  NaN NaN  percentagechange  percentagechange NaN
2  NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
3  NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
4  NaN NaN     $  135620  NaN NaN               NaN                8% NaN
5  NaN NaN   NaN       0  NaN NaN               NaN                 * NaN
6  NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
7  NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
8  NaN NaN     $  135620  NaN NaN               NaN                8% NaN
9  NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
10 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
11 NaN NaN     $   83383  NaN NaN               NaN                6% NaN
12 NaN NaN   NaN       0  NaN NaN               NaN                 * NaN
13 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
14 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
15 NaN NaN     $   83383  NaN NaN               NaN                8% NaN
16 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
17 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
18 NaN NaN     $   72738  NaN NaN               NaN              (1)% NaN
19 NaN NaN   NaN       0  NaN NaN               NaN                 * NaN
20 NaN NaN   NaN  (3,291    ) NaN               NaN                 * NaN
21 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
22 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
23 NaN NaN     $   69447  NaN NaN               NaN                6% NaN
24 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
25 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
26 NaN NaN     $    9.65  NaN NaN               NaN                0% NaN
27 NaN NaN   NaN       0  NaN NaN               NaN                 * NaN
28 NaN NaN   NaN   (0.44    ) NaN               NaN                 * NaN
29 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
30 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN
31 NaN NaN     $    9.21  NaN NaN               NaN                7% NaN
32 NaN NaN   NaN     NaN  NaN NaN               NaN               NaN NaN


                      0   1    2        3   4
0                   NaN NaN  NaN      NaN NaN
1         (in millions) NaN  NaN      NaN NaN
2                   NaN NaN  NaN      NaN NaN
3                   NaN NaN  NaN      NaN NaN
4   three months ending NaN  NaN      NaN NaN
5                   NaN NaN  NaN      NaN NaN
6    september 30, 2023 NaN    $  19673.0 NaN
7     december 31, 2023 NaN  NaN  15600.0 NaN
8        march 31, 2024 NaN  NaN  10801.0 NaN
9         june 30, 2024 NaN  NaN   4827.0 NaN
10           thereafter NaN  NaN   2912.0 NaN
11                  NaN NaN  NaN      NaN NaN
12                  NaN NaN  NaN      NaN NaN
13                total NaN    $  53813.0 NaN
14                  NaN NaN  NaN      NaN NaN


                                                   0   1     2        3   4   \
0                                                 NaN NaN   NaN      NaN NaN
1                                       (in millions) NaN  2024   2024.0 NaN
2                                                 NaN NaN   NaN      NaN NaN
3                                                 NaN NaN   NaN      NaN NaN
4                                 long-term debt: (a) NaN   NaN      NaN NaN
5                                  principal payments NaN     $   5250.0 NaN
6                                   interest payments NaN   NaN   1379.0 NaN
7                        construction commitments (b) NaN   NaN  12237.0 NaN
8   operating and finance leases, including impute... NaN   NaN   5988.0 NaN
9                            purchase commitments (d) NaN   NaN  64703.0 NaN
10                                                NaN NaN   NaN      NaN NaN
11                                                NaN NaN   NaN      NaN NaN
12                                              total NaN     $  89557.0 NaN
13                                                NaN NaN   NaN      NaN NaN

    5           6           7   8   9      10      11  12
0  NaN         NaN         NaN NaN NaN    NaN     NaN NaN
1  NaN  thereafter  thereafter NaN NaN  total   total NaN
2  NaN         NaN         NaN NaN NaN    NaN     NaN NaN
3  NaN         NaN         NaN NaN NaN    NaN     NaN NaN
4  NaN         NaN         NaN NaN NaN    NaN     NaN NaN
5  NaN           $       47616 NaN NaN      $   52866 NaN
6  NaN         NaN       19746 NaN NaN    NaN   21125 NaN
7  NaN         NaN        1218 NaN NaN    NaN   13455 NaN
8  NaN         NaN       73852 NaN NaN    NaN   79840 NaN
9  NaN         NaN        3115 NaN NaN    NaN   67818 NaN
10 NaN         NaN         NaN NaN NaN    NaN     NaN NaN
11 NaN         NaN         NaN NaN NaN    NaN     NaN NaN
12 NaN           $      145547 NaN NaN      $  235104 NaN
13 NaN         NaN         NaN NaN NaN    NaN     NaN NaN


                                                   0
0                                      satya nadella
1                            chief executive officer
2                                        amy e. hood
3  executive vice president and chief financial o...
4                                     alice l. jolla
5  corporate vice president and chief accounting ...


                                0   1   \
0                              NaN NaN
1                    (in millions) NaN
2                              NaN NaN
3                              NaN NaN
4                  risk categories NaN
5                              NaN NaN
6       foreign currency – revenue NaN
7   foreign currency – investments NaN
8                    interest rate NaN
9                           credit NaN
10                          equity NaN
11                             NaN NaN

                                                   2   3             4   \
0                                                 NaN NaN           NaN
1                                                 NaN NaN           NaN
2                                                 NaN NaN           NaN
3                                                 NaN NaN           NaN
4                                 hypothetical change NaN  june 30,2023
5                                                 NaN NaN           NaN
6              10% decrease in foreign exchange rates NaN             $
7              10% decrease in foreign exchange rates NaN           NaN
8   100 basis point increase in u.s. treasury inte... NaN           NaN
9          100 basis point increase in credit spreads NaN           NaN
10               10% decrease in equity market prices NaN           NaN

In [ ]:
# for df in tables:
#     # Drop columns that are entirely NaN
#     df.dropna(axis=1, how='all', inplace=True)
#     # Drop rows that are entirely NaN
#     df.dropna(axis=0, how='all', inplace=True)
    
# i = 0
# for table in tables:
#     i+=1
#     print(table, '\n\n')
    
# print("Number of tables =", i)


summary_results = None
segment_results = None

for i, df in enumerate(item7_tables):
    # Drop columns that are entirely NaN
    df.dropna(axis=1, how='all', inplace=True)
    # Drop rows that are entirely NaN
    df.dropna(axis=0, how='all', inplace=True)
    
    if i == 0:
        summary_results = df.copy()
    elif i == 1:
        segment_results = df.copy()

print("Summary results of operations: ", summary_results)
print("Segment results of operations: ", segment_results)

Summary results of operations:                                                     0     2          3     6   \
1   (in millions, except percentages and per share...  2023    2023.00  2022
4                                             revenue     $  211915.00     $
5                                        gross margin   NaN  146052.00   NaN
6                                    operating income   NaN   88523.00   NaN
7                                          net income   NaN   72361.00   NaN
8                          diluted earnings per share   NaN       9.68   NaN
10                   adjusted gross margin (non-gaap)   NaN  146204.00   NaN
11               adjusted operating income (non-gaap)   NaN   89694.00   NaN
12                     adjusted net income (non-gaap)   NaN   73307.00   NaN
13     adjusted diluted earnings per share (non-gaap)   NaN       9.81   NaN

           7                 10                11
1     2022.00  percentagechange  percentagechange
4   198270.00               NaN                7%
5   135620.00               NaN                8%
6    83383.00               NaN                6%
7    72738.00               NaN              (1)%
8        9.65               NaN                0%
10  135620.00               NaN                8%
11   83383.00               NaN                8%
12   69447.00               NaN                6%
13       9.21               NaN                7%
Segment results of operations:                                       0     2         3     6         7   \
1     (in millions, except percentages)  2023    2023.0  2022    2022.0
4                               revenue   NaN       NaN   NaN       NaN
6   productivity and business processes     $   69274.0     $   63364.0
7                     intelligent cloud   NaN   87907.0   NaN   74965.0
8               more personal computing   NaN   54734.0   NaN   59941.0
11                                total     $  211915.0     $  198270.0
14                     operating income   NaN       NaN   NaN       NaN
16  productivity and business processes     $   34189.0     $   29690.0
17                    intelligent cloud   NaN   37884.0   NaN   33203.0
18              more personal computing   NaN   16450.0   NaN   20490.0
21                                total     $   88523.0     $   83383.0

                  10                11
1   percentagechange  percentagechange
4                NaN               NaN
6                NaN                9%
7                NaN               17%
8                NaN              (9)%
11               NaN                7%
14               NaN               NaN
16               NaN               15%
17               NaN               14%
18               NaN             (20)%
21               NaN                6%

Comprehensive income statements

In [ ]:
html_path = "item8_tables.html"
item8_table1 = pd.read_html(html_path)

i = 0
for table in item8_table1:
    i+=1
    print(table, '\n\n')
    
print("Number of tables =", i)

                                         0   1     2          3   4   5   \
0                                       NaN NaN   NaN        NaN NaN NaN
1   (in millions, except per share amounts) NaN   NaN        NaN NaN NaN
2                                       NaN NaN   NaN        NaN NaN NaN
3                                       NaN NaN   NaN        NaN NaN NaN
4                       year ended june 30, NaN  2023    2023.00 NaN NaN
5                                       NaN NaN   NaN        NaN NaN NaN
6                                  revenue: NaN   NaN        NaN NaN NaN
7                                   product NaN     $   64699.00 NaN NaN
8                         service and other NaN   NaN  147216.00 NaN NaN
9                                       NaN NaN   NaN        NaN NaN NaN
10                                      NaN NaN   NaN        NaN NaN NaN
11                            total revenue NaN   NaN  211915.00 NaN NaN
12                                      NaN NaN   NaN        NaN NaN NaN
13                                      NaN NaN   NaN        NaN NaN NaN
14                         cost of revenue: NaN   NaN        NaN NaN NaN
15                                  product NaN   NaN   17804.00 NaN NaN
16                        service and other NaN   NaN   48059.00 NaN NaN
17                                      NaN NaN   NaN        NaN NaN NaN
18                                      NaN NaN   NaN        NaN NaN NaN
19                    total cost of revenue NaN   NaN   65863.00 NaN NaN
20                                      NaN NaN   NaN        NaN NaN NaN
21                                      NaN NaN   NaN        NaN NaN NaN
22                             gross margin NaN   NaN  146052.00 NaN NaN
23                 research and development NaN   NaN   27195.00 NaN NaN
24                      sales and marketing NaN   NaN   22759.00 NaN NaN
25               general and administrative NaN   NaN    7575.00 NaN NaN
26                                      NaN NaN   NaN        NaN NaN NaN
27                                      NaN NaN   NaN        NaN NaN NaN
28                         operating income NaN   NaN   88523.00 NaN NaN
29                        other income, net NaN   NaN     788.00 NaN NaN
30                                      NaN NaN   NaN        NaN NaN NaN
31                                      NaN NaN   NaN        NaN NaN NaN
32               income before income taxes NaN   NaN   89311.00 NaN NaN
33               provision for income taxes NaN   NaN   16950.00 NaN NaN
34                                      NaN NaN   NaN        NaN NaN NaN
35                                      NaN NaN   NaN        NaN NaN NaN
36                               net income NaN     $   72361.00 NaN NaN
37                                      NaN NaN   NaN        NaN NaN NaN
38                                      NaN NaN   NaN        NaN NaN NaN
39                      earnings per share: NaN   NaN        NaN NaN NaN
40                                    basic NaN     $       9.72 NaN NaN
41                                  diluted NaN     $       9.68 NaN NaN
42                                      NaN NaN   NaN        NaN NaN NaN
43     weighted average shares outstanding: NaN   NaN        NaN NaN NaN
44                                    basic NaN   NaN    7446.00 NaN NaN
45                                  diluted NaN   NaN    7472.00 NaN NaN
46                                      NaN NaN   NaN        NaN NaN NaN

      6          7   8   9     10         11  12
0    NaN        NaN NaN NaN   NaN        NaN NaN
1    NaN        NaN NaN NaN   NaN        NaN NaN
2    NaN        NaN NaN NaN   NaN        NaN NaN
3    NaN        NaN NaN NaN   NaN        NaN NaN
4   2022    2022.00 NaN NaN  2021    2021.00 NaN
5    NaN        NaN NaN NaN   NaN        NaN NaN
6    NaN        NaN NaN NaN   NaN        NaN NaN
7      $   72732.00 NaN NaN     $   71074.00 NaN
8    NaN  125538.00 NaN NaN   NaN   97014.00 NaN
9    NaN        NaN NaN NaN   NaN        NaN NaN
10   NaN        NaN NaN NaN   NaN        NaN NaN
11   NaN  198270.00 NaN NaN   NaN  168088.00 NaN
12   NaN        NaN NaN NaN   NaN        NaN NaN
13   NaN        NaN NaN NaN   NaN        NaN NaN
14   NaN        NaN NaN NaN   NaN        NaN NaN
15   NaN   19064.00 NaN NaN   NaN   18219.00 NaN
16   NaN   43586.00 NaN NaN   NaN   34013.00 NaN
17   NaN        NaN NaN NaN   NaN        NaN NaN
18   NaN        NaN NaN NaN   NaN        NaN NaN
19   NaN   62650.00 NaN NaN   NaN   52232.00 NaN
20   NaN        NaN NaN NaN   NaN        NaN NaN
21   NaN        NaN NaN NaN   NaN        NaN NaN
22   NaN  135620.00 NaN NaN   NaN  115856.00 NaN
23   NaN   24512.00 NaN NaN   NaN   20716.00 NaN
24   NaN   21825.00 NaN NaN   NaN   20117.00 NaN
25   NaN    5900.00 NaN NaN   NaN    5107.00 NaN
26   NaN        NaN NaN NaN   NaN        NaN NaN
27   NaN        NaN NaN NaN   NaN        NaN NaN
28   NaN   83383.00 NaN NaN   NaN   69916.00 NaN
29   NaN     333.00 NaN NaN   NaN    1186.00 NaN
30   NaN        NaN NaN NaN   NaN        NaN NaN
31   NaN        NaN NaN NaN   NaN        NaN NaN
32   NaN   83716.00 NaN NaN   NaN   71102.00 NaN
33   NaN   10978.00 NaN NaN   NaN    9831.00 NaN
34   NaN        NaN NaN NaN   NaN        NaN NaN
35   NaN        NaN NaN NaN   NaN        NaN NaN
36     $   72738.00 NaN NaN     $   61271.00 NaN
37   NaN        NaN NaN NaN   NaN        NaN NaN
38   NaN        NaN NaN NaN   NaN        NaN NaN
39   NaN        NaN NaN NaN   NaN        NaN NaN
40     $       9.70 NaN NaN     $       8.12 NaN
41     $       9.65 NaN NaN     $       8.05 NaN
42   NaN        NaN NaN NaN   NaN        NaN NaN
43   NaN        NaN NaN NaN   NaN        NaN NaN
44   NaN    7496.00 NaN NaN   NaN    7547.00 NaN
45   NaN    7540.00 NaN NaN   NaN    7608.00 NaN
46   NaN        NaN NaN NaN   NaN        NaN NaN


                                                0   1     2       3    4   5   \
0                                              NaN NaN   NaN     NaN  NaN NaN
1                                    (in millions) NaN   NaN     NaN  NaN NaN
2                                              NaN NaN   NaN     NaN  NaN NaN
3                                              NaN NaN   NaN     NaN  NaN NaN
4                              year ended june 30, NaN  2023    2023  NaN NaN
5                                              NaN NaN   NaN     NaN  NaN NaN
6                                       net income NaN     $   72361  NaN NaN
7                                              NaN NaN   NaN     NaN  NaN NaN
8                                              NaN NaN   NaN     NaN  NaN NaN
9   other comprehensive income (loss), net of tax: NaN   NaN     NaN  NaN NaN
10               net change related to derivatives NaN   NaN     (14    ) NaN
11               net change related to investments NaN   NaN  (1,444    ) NaN
12               translation adjustments and other NaN   NaN    (207    ) NaN
13                                             NaN NaN   NaN     NaN  NaN NaN
14                                             NaN NaN   NaN     NaN  NaN NaN
15                        other comprehensive loss NaN   NaN  (1,665    ) NaN
16                                             NaN NaN   NaN     NaN  NaN NaN
17                                             NaN NaN   NaN     NaN  NaN NaN
18                            comprehensive income NaN     $   70696  NaN NaN
19                                             NaN NaN   NaN     NaN  NaN NaN

      6       7    8   9     10      11   12
0    NaN     NaN  NaN NaN   NaN     NaN  NaN
1    NaN     NaN  NaN NaN   NaN     NaN  NaN
2    NaN     NaN  NaN NaN   NaN     NaN  NaN
3    NaN     NaN  NaN NaN   NaN     NaN  NaN
4   2022    2022  NaN NaN  2021    2021  NaN
5    NaN     NaN  NaN NaN   NaN     NaN  NaN
6      $   72738  NaN NaN     $   61271  NaN
7    NaN     NaN  NaN NaN   NaN     NaN  NaN
8    NaN     NaN  NaN NaN   NaN     NaN  NaN
9    NaN     NaN  NaN NaN   NaN     NaN  NaN
10   NaN       6  NaN NaN   NaN      19  NaN
11   NaN  (5,360    ) NaN   NaN  (2,266    )
12   NaN  (1,146    ) NaN   NaN     873  NaN
13   NaN     NaN  NaN NaN   NaN     NaN  NaN
14   NaN     NaN  NaN NaN   NaN     NaN  NaN
15   NaN  (6,500    ) NaN   NaN  (1,374    )
16   NaN     NaN  NaN NaN   NaN     NaN  NaN
17   NaN     NaN  NaN NaN   NaN     NaN  NaN
18     $   66238  NaN NaN     $   59897  NaN
19   NaN     NaN  NaN NaN   NaN     NaN  NaN


                                             0   1     2       3    4   5  \
0                                          NaN NaN   NaN     NaN  NaN NaN
1                                (in millions) NaN   NaN     NaN  NaN NaN
2                                          NaN NaN   NaN     NaN  NaN NaN
3                                          NaN NaN   NaN     NaN  NaN NaN
4                                     june 30, NaN  2023    2023  NaN NaN
..                                         ...  ..   ...     ...  ...  ..
59                  total stockholders’ equity NaN   NaN  206223  NaN NaN
60                                         NaN NaN   NaN     NaN  NaN NaN
61                                         NaN NaN   NaN     NaN  NaN NaN
62  total liabilities and stockholders’ equity NaN     $  411976  NaN NaN
63                                         NaN NaN   NaN     NaN  NaN NaN

       6       7    8
0    NaN     NaN  NaN
1    NaN     NaN  NaN
2    NaN     NaN  NaN
3    NaN     NaN  NaN
4   2022    2022  NaN
..   ...     ...  ...
59   NaN  166542  NaN
60   NaN     NaN  NaN
61   NaN     NaN  NaN
62     $  364840  NaN
63   NaN     NaN  NaN

[64 rows x 9 columns]


                                                0   1     2      3    4   5   \
0                                              NaN NaN   NaN    NaN  NaN NaN
1                                    (in millions) NaN   NaN    NaN  NaN NaN
2                                              NaN NaN   NaN    NaN  NaN NaN
3                                              NaN NaN   NaN    NaN  NaN NaN
4                              year ended june 30, NaN  2023   2023  NaN NaN
..                                             ...  ..   ...    ...  ...  ..
56  cash and cash equivalents, beginning of period NaN   NaN  13931  NaN NaN
57                                             NaN NaN   NaN    NaN  NaN NaN
58                                             NaN NaN   NaN    NaN  NaN NaN
59        cash and cash equivalents, end of period NaN     $  34704  NaN NaN
60                                             NaN NaN   NaN    NaN  NaN NaN

      6      7    8   9     10     11   12
0    NaN    NaN  NaN NaN   NaN    NaN  NaN
1    NaN    NaN  NaN NaN   NaN    NaN  NaN
2    NaN    NaN  NaN NaN   NaN    NaN  NaN
3    NaN    NaN  NaN NaN   NaN    NaN  NaN
4   2022   2022  NaN NaN  2021   2021  NaN
..   ...    ...  ...  ..   ...    ...  ...
56   NaN  14224  NaN NaN   NaN  13576  NaN
57   NaN    NaN  NaN NaN   NaN    NaN  NaN
58   NaN    NaN  NaN NaN   NaN    NaN  NaN
59     $  13931  NaN NaN     $  14224  NaN
60   NaN    NaN  NaN NaN   NaN    NaN  NaN

[61 rows x 13 columns]


                                               0   1     2        3    4   5   \
0                                             NaN NaN   NaN      NaN  NaN NaN
1         (in millions, except per share amounts) NaN   NaN      NaN  NaN NaN
2                                             NaN NaN   NaN      NaN  NaN NaN
3                                             NaN NaN   NaN      NaN  NaN NaN
4                             year ended june 30, NaN  2023     2023  NaN NaN
5                                             NaN NaN   NaN      NaN  NaN NaN
6                common stock and paid-in capital NaN   NaN      NaN  NaN NaN
7                    balance, beginning of period NaN     $    86939  NaN NaN
8                             common stock issued NaN   NaN     1866  NaN NaN
9                        common stock repurchased NaN   NaN   (4,696    ) NaN
10               stock-based compensation expense NaN   NaN     9611  NaN NaN
11                                     other, net NaN   NaN       (2    ) NaN
12                                            NaN NaN   NaN      NaN  NaN NaN
13                                            NaN NaN   NaN      NaN  NaN NaN
14                         balance, end of period NaN   NaN    93718  NaN NaN
15                                            NaN NaN   NaN      NaN  NaN NaN
16                                            NaN NaN   NaN      NaN  NaN NaN
17                              retained earnings NaN   NaN      NaN  NaN NaN
18                   balance, beginning of period NaN   NaN    84281  NaN NaN
19                                     net income NaN   NaN    72361  NaN NaN
20                    common stock cash dividends NaN   NaN  (20,226    ) NaN
21                       common stock repurchased NaN   NaN  (17,568    ) NaN
22        cumulative effect of accounting changes NaN   NaN        0  NaN NaN
23                                            NaN NaN   NaN      NaN  NaN NaN
24                                            NaN NaN   NaN      NaN  NaN NaN
25                         balance, end of period NaN   NaN   118848  NaN NaN
26                                            NaN NaN   NaN      NaN  NaN NaN
27                                            NaN NaN   NaN      NaN  NaN NaN
28  accumulated other comprehensive income (loss) NaN   NaN      NaN  NaN NaN
29                   balance, beginning of period NaN   NaN   (4,678    ) NaN
30                       other comprehensive loss NaN   NaN   (1,665    ) NaN
31        cumulative effect of accounting changes NaN   NaN        0  NaN NaN
32                                            NaN NaN   NaN      NaN  NaN NaN
33                                            NaN NaN   NaN      NaN  NaN NaN
34                         balance, end of period NaN   NaN   (6,343    ) NaN
35                                            NaN NaN   NaN      NaN  NaN NaN
36                                            NaN NaN   NaN      NaN  NaN NaN
37                     total stockholders’ equity NaN     $   206223  NaN NaN
38                                            NaN NaN   NaN      NaN  NaN NaN
39                                            NaN NaN   NaN      NaN  NaN NaN
40       cash dividends declared per common share NaN     $     2.72  NaN NaN
41                                            NaN NaN   NaN      NaN  NaN NaN

      6        7    8   9     10       11   12
0    NaN      NaN  NaN NaN   NaN      NaN  NaN
1    NaN      NaN  NaN NaN   NaN      NaN  NaN
2    NaN      NaN  NaN NaN   NaN      NaN  NaN
3    NaN      NaN  NaN NaN   NaN      NaN  NaN
4   2022     2022  NaN NaN  2021     2021  NaN
5    NaN      NaN  NaN NaN   NaN      NaN  NaN
6    NaN      NaN  NaN NaN   NaN      NaN  NaN
7      $    83111  NaN NaN     $    80552  NaN
8    NaN     1841  NaN NaN   NaN     1963  NaN
9    NaN   (5,688    ) NaN   NaN   (5,539    )
10   NaN     7502  NaN NaN   NaN     6118  NaN
11   NaN      173  NaN NaN   NaN       17  NaN
12   NaN      NaN  NaN NaN   NaN      NaN  NaN
13   NaN      NaN  NaN NaN   NaN      NaN  NaN
14   NaN    86939  NaN NaN   NaN    83111  NaN
15   NaN      NaN  NaN NaN   NaN      NaN  NaN
16   NaN      NaN  NaN NaN   NaN      NaN  NaN
17   NaN      NaN  NaN NaN   NaN      NaN  NaN
18   NaN    57055  NaN NaN   NaN    34566  NaN
19   NaN    72738  NaN NaN   NaN    61271  NaN
20   NaN  (18,552    ) NaN   NaN  (16,871    )
21   NaN  (26,960    ) NaN   NaN  (21,879    )
22   NaN        0  NaN NaN   NaN      (32    )
23   NaN      NaN  NaN NaN   NaN      NaN  NaN
24   NaN      NaN  NaN NaN   NaN      NaN  NaN
25   NaN    84281  NaN NaN   NaN    57055  NaN
26   NaN      NaN  NaN NaN   NaN      NaN  NaN
27   NaN      NaN  NaN NaN   NaN      NaN  NaN
28   NaN      NaN  NaN NaN   NaN      NaN  NaN
29   NaN     1822  NaN NaN   NaN     3186  NaN
30   NaN   (6,500    ) NaN   NaN   (1,374    )
31   NaN        0  NaN NaN   NaN       10  NaN
32   NaN      NaN  NaN NaN   NaN      NaN  NaN
33   NaN      NaN  NaN NaN   NaN      NaN  NaN
34   NaN   (4,678    ) NaN   NaN     1822  NaN
35   NaN      NaN  NaN NaN   NaN      NaN  NaN
36   NaN      NaN  NaN NaN   NaN      NaN  NaN
37     $   166542  NaN NaN     $   141988  NaN
38   NaN      NaN  NaN NaN   NaN      NaN  NaN
39   NaN      NaN  NaN NaN   NaN      NaN  NaN
40     $     2.48  NaN NaN     $     2.24  NaN
41   NaN      NaN  NaN NaN   NaN      NaN  NaN


                              0   1    2     3    4   5    6     7    8   9   \
0                            NaN NaN  NaN   NaN  NaN NaN  NaN   NaN  NaN NaN
1                  (in millions) NaN  NaN   NaN  NaN NaN  NaN   NaN  NaN NaN
2                            NaN NaN  NaN   NaN  NaN NaN  NaN   NaN  NaN NaN
3                            NaN NaN  NaN   NaN  NaN NaN  NaN   NaN  NaN NaN
4            year ended june 30, NaN  NaN  2023  NaN NaN  NaN  2022  NaN NaN
5                            NaN NaN  NaN   NaN  NaN NaN  NaN   NaN  NaN NaN
6   balance, beginning of period NaN    $   710  NaN NaN    $   798  NaN NaN
7     charged to costs and other NaN  NaN   258  NaN NaN  NaN   157  NaN NaN
8                     write-offs NaN  NaN  (252    ) NaN  NaN  (245    ) NaN
9                            NaN NaN  NaN   NaN  NaN NaN  NaN   NaN  NaN NaN
10                           NaN NaN  NaN   NaN  NaN NaN  NaN   NaN  NaN NaN
11        balance, end of period NaN    $   716  NaN NaN    $   710  NaN NaN
12                           NaN NaN  NaN   NaN  NaN NaN  NaN   NaN  NaN NaN

     10    11   12
0   NaN   NaN  NaN
1   NaN   NaN  NaN
2   NaN   NaN  NaN
3   NaN   NaN  NaN
4   NaN  2021  NaN
5   NaN   NaN  NaN
6     $   816  NaN
7   NaN   234  NaN
8   NaN  (252    )
9   NaN   NaN  NaN
10  NaN   NaN  NaN
11    $   798  NaN
12  NaN   NaN  NaN


                                                   0   1    2       3   4   \
0                                                 NaN NaN  NaN     NaN NaN
1                                       (in millions) NaN  NaN     NaN NaN
2                                                 NaN NaN  NaN     NaN NaN
3                                                 NaN NaN  NaN     NaN NaN
4                                            june 30, NaN  NaN  2023.0 NaN
5                                                 NaN NaN  NaN     NaN NaN
6   accounts receivable, net of allowance for doub... NaN    $   650.0 NaN
7                              other long-term assets NaN  NaN    66.0 NaN
8                                                 NaN NaN  NaN     NaN NaN
9                                                 NaN NaN  NaN     NaN NaN
10                                              total NaN    $   716.0 NaN
11                                                NaN NaN  NaN     NaN NaN

    5    6       7   8   9    10      11  12
0  NaN  NaN     NaN NaN NaN  NaN     NaN NaN
1  NaN  NaN     NaN NaN NaN  NaN     NaN NaN
2  NaN  NaN     NaN NaN NaN  NaN     NaN NaN
3  NaN  NaN     NaN NaN NaN  NaN     NaN NaN
4  NaN  NaN  2022.0 NaN NaN  NaN  2021.0 NaN
5  NaN  NaN     NaN NaN NaN  NaN     NaN NaN
6  NaN    $   633.0 NaN NaN    $   751.0 NaN
7  NaN  NaN    77.0 NaN NaN  NaN    47.0 NaN
8  NaN  NaN     NaN NaN NaN  NaN     NaN NaN
9  NaN  NaN     NaN NaN NaN  NaN     NaN NaN
10 NaN    $   710.0 NaN NaN    $   798.0 NaN
11 NaN  NaN     NaN NaN NaN  NaN     NaN NaN


                                                   0   1     2         3   4   \
0                                                 NaN NaN   NaN       NaN NaN
1            (in millions, except earnings per share) NaN   NaN       NaN NaN
2                                                 NaN NaN   NaN       NaN NaN
3                                                 NaN NaN   NaN       NaN NaN
4                                 year ended june 30, NaN  2023   2023.00 NaN
5                                                 NaN NaN   NaN       NaN NaN

In [ ]:
comprehensive_incomestats = None

for i, df in enumerate(item8_table1):
    # Drop columns that are entirely NaN
    df.dropna(axis=1, how='all', inplace=True)
    # Drop rows that are entirely NaN
    df.dropna(axis=0, how='all', inplace=True)
    
    if i == 1:
        comprehensive_incomestats = df.copy()

print("Comprehensive income statements: ", comprehensive_incomestats)

Comprehensive income statements:                                                  0     2       3    4     6   \
1                                    (in millions)   NaN     NaN  NaN   NaN
4                              year ended june 30,  2023    2023  NaN  2022
6                                       net income     $   72361  NaN     $
9   other comprehensive income (loss), net of tax:   NaN     NaN  NaN   NaN
10               net change related to derivatives   NaN     (14    )   NaN
11               net change related to investments   NaN  (1,444    )   NaN
12               translation adjustments and other   NaN    (207    )   NaN
15                        other comprehensive loss   NaN  (1,665    )   NaN
18                            comprehensive income     $   70696  NaN     $

        7    8     10      11   12
1      NaN  NaN   NaN     NaN  NaN
4     2022  NaN  2021    2021  NaN
6    72738  NaN     $   61271  NaN
9      NaN  NaN   NaN     NaN  NaN
10       6  NaN   NaN      19  NaN
11  (5,360    )   NaN  (2,266    )
12  (1,146    )   NaN     873  NaN
15  (6,500    )   NaN  (1,374    )
18   66238  NaN     $   59897  NaN

Earnings per share

In [ ]:
html_path = "item8_epstable.html"
item8_tables = pd.read_html(html_path)

i = 0
for table in item8_tables:
    i+=1
    print(table, '\n\n')
    
print("Number of tables =", i)

                                                   0   1     2         3   4   \
0                                                 NaN NaN   NaN       NaN NaN
1            (in millions, except earnings per share) NaN   NaN       NaN NaN
2                                                 NaN NaN   NaN       NaN NaN
3                                                 NaN NaN   NaN       NaN NaN
4                                 year ended june 30, NaN  2023   2023.00 NaN
5                                                 NaN NaN   NaN       NaN NaN
6    net income available for common shareholders (a) NaN     $  72361.00 NaN
7                                                 NaN NaN   NaN       NaN NaN
8                                                 NaN NaN   NaN       NaN NaN
9   weighted average outstanding shares of common ... NaN   NaN   7446.00 NaN
10              dilutive effect of stock-based awards NaN   NaN     26.00 NaN
11                                                NaN NaN   NaN       NaN NaN
12                                                NaN NaN   NaN       NaN NaN
13      common stock and common stock equivalents (c) NaN   NaN   7472.00 NaN
14                                                NaN NaN   NaN       NaN NaN
15                                                NaN NaN   NaN       NaN NaN
16                                 earnings per share NaN   NaN       NaN NaN
17                                                NaN NaN   NaN       NaN NaN
18                                        basic (a/b) NaN     $      9.72 NaN
19                                      diluted (a/c) NaN     $      9.68 NaN
20                                                NaN NaN   NaN       NaN NaN

    5     6         7   8   9     10        11  12
0  NaN   NaN       NaN NaN NaN   NaN       NaN NaN
1  NaN   NaN       NaN NaN NaN   NaN       NaN NaN
2  NaN   NaN       NaN NaN NaN   NaN       NaN NaN
3  NaN   NaN       NaN NaN NaN   NaN       NaN NaN
4  NaN  2022   2022.00 NaN NaN  2021   2021.00 NaN
5  NaN   NaN       NaN NaN NaN   NaN       NaN NaN
6  NaN     $  72738.00 NaN NaN     $  61271.00 NaN
7  NaN   NaN       NaN NaN NaN   NaN       NaN NaN
8  NaN   NaN       NaN NaN NaN   NaN       NaN NaN
9  NaN   NaN   7496.00 NaN NaN   NaN   7547.00 NaN
10 NaN   NaN     44.00 NaN NaN   NaN     61.00 NaN
11 NaN   NaN       NaN NaN NaN   NaN       NaN NaN
12 NaN   NaN       NaN NaN NaN   NaN       NaN NaN
13 NaN   NaN   7540.00 NaN NaN   NaN   7608.00 NaN
14 NaN   NaN       NaN NaN NaN   NaN       NaN NaN
15 NaN   NaN       NaN NaN NaN   NaN       NaN NaN
16 NaN   NaN       NaN NaN NaN   NaN       NaN NaN
17 NaN   NaN       NaN NaN NaN   NaN       NaN NaN
18 NaN     $      9.70 NaN NaN     $      8.12 NaN
19 NaN     $      9.65 NaN NaN     $      8.05 NaN
20 NaN   NaN       NaN NaN NaN   NaN       NaN NaN


Number of tables = 1

In [ ]:
earnings_pershare = None

for i, df in enumerate(item8_tables):
    # Drop columns that are entirely NaN
    df.dropna(axis=1, how='all', inplace=True)
    # Drop rows that are entirely NaN
    df.dropna(axis=0, how='all', inplace=True)
    
    if i == 0:
        earnings_pershare = df.copy()

print("Earnings per share: ", earnings_pershare)

Earnings per share:                                                     0     2         3     6   \
1            (in millions, except earnings per share)   NaN       NaN   NaN
4                                 year ended june 30,  2023   2023.00  2022
6    net income available for common shareholders (a)     $  72361.00     $
9   weighted average outstanding shares of common ...   NaN   7446.00   NaN
10              dilutive effect of stock-based awards   NaN     26.00   NaN
13      common stock and common stock equivalents (c)   NaN   7472.00   NaN
16                                 earnings per share   NaN       NaN   NaN
18                                        basic (a/b)     $      9.72     $
19                                      diluted (a/c)     $      9.68     $

          7     10        11
1        NaN   NaN       NaN
4    2022.00  2021   2021.00
6   72738.00     $  61271.00
9    7496.00   NaN   7547.00
10     44.00   NaN     61.00
13   7540.00   NaN   7608.00
16       NaN   NaN       NaN
18      9.70     $      8.12
19      9.65     $      8.05